body {
    margin: 2%
}

.wrapper{
    margin: 0;
    padding: 0
}

.jumbotron {
    padding: 3%
}

.thumbnail img {
    max-width: 100%
}

.login-images{
    width: 30%;
}

.dropdown-menu li {
    width: 230px;
}



