<div id = "container" class="col-md-10">
    <div id = "header"><p>You are logged to </p><span id = "networks"></span></div>
    <!--темплейта ще зависи от структурата на данните, която ще се зарежда-->
</div>