<div id="header">
        <h1>Fujin Network</h1>
        <img src="../images/Fujin.png" alt="logo">
        <h2>Login/Register</h2>
        <img src="../templates/images/facebook-logo-reversed.png" alt="facebook">
</div>
<div id = "container">
    <input type="text" palceholder="username"/>
    <input type="password" palceholder="password"/>
    <button>Login</button>
    <button>Register</button>
</div>