<div class="jumbotron">
            <h1>Fujin Network</h1>
            <p class="lead">All Your Important Social Media In One App</p>
            <p>Select your favourite social media networks and get all new posts in one place</p>

            <!--<a href="#/login" class="btn btn-lg btn-success">Join us</a>-->
        </div>

        