<div class="jumbotron">
            <h1>Fujin Network</h1>
            <p class="lead">All Your Important Social Media In One App</p>
            <p>Select your favourite social media networks and get all new posts in one place</p>
</div>

<div class="panel panel-default">
    <strong>Fujin Network</strong> is here for you! It's <strong>free and easy to use!</strong> 
    You'll have the social media posts <strong>you want to see</strong> with just one click. Select your favourite channels and <strong>follow them</strong> in one place. 
</div>
<div class="panel panel-default">
   
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Developed by: <strong>JavaScript Applications Online Team "Fujin"</strong>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="https://telerikacademy.com/Users/Doubleshot">Doubleshot</a></li>
    <li><a href="https://telerikacademy.com/Users/Milenkata">Milenkata</a></li>
    <li><a href="https://telerikacademy.com/Users/kolchakov96">kolchakov96</a></li>
    <li><a href="https://telerikacademy.com/Users/Neviana_Michaleva">Neviana_Michaleva</a></li>
    <li><a href="https://telerikacademy.com/Users/dmilkovski">dmilkovski</a></li>
  </ul>
</div>

</div>


