<div class="jumbotron">
            <h1>Fujin Network</h1>
            <p class="lead">All Your Important Social Media In One App</p>
            <p>Select your favourite social media networks and get all new posts in one place</p>

            <!--<a href="#/login" class="btn btn-lg btn-success">Join us</a>-->
        </div>

<div class="panel panel-default">
    <strong>Fujin Network</strong> is here for you! It's <strong>free and easy to use!</strong> 
    You'll have the social media posts <strong>you want to see</strong> with just one click. Select your favourite channels and <strong>follow them</strong> in one place. 
</div>

