{{#data}}
    <br>
        <div>    
            <p><img style="height:50px"src="{{from.profile_picture}}" alt=""/>
            <a href='#/instagram/user={{from.full_name}}'>{{from.full_name}}: </a></p>
            <p>> {{text}}</p>
        </div>
    <br>
    <hr>
{{/data}}